@media only screen and (min-width: 2220px){

        .mail-logo{
            right: 33%!important;
        }
        .navbar-header{
            margin-left: 20%!important;
        }
        .top1 {
            
            right: 17%!important;
        }
}
@media only screen and (min-width: 1920px){
    .wrapp1 img {
        margin-bottom: -15px;
        width: 40%;
    }
    .mail-logo{
        right: 25%;
    }
    .navbar-header{
        margin-left: 15%!important;
    }
    .top1 {
        
        right: 11%  ;
    }
    .na-slider h2 {
        font-family: "Bauhaus";
        font-size: 168px;
        line-height: 150px;
    }
    .img-nw-usl{
        margin: 0px 0px 150px 0px;
        float: left;
        max-height: 100px;
        width: 45%;
    }
    .na-slider {
        position: absolute!important;
        z-index: 21000;
        top: 40%;
        left: 20%;
        color: #fff;
        text-align: left;
    }
    .na-slider h4 {
        font-family: "RobotoThin";
        font-size: 90px;
        line-height: 110px;
        margin: 10px 0px 30px 0px;
    }
}
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1850px){
    .por-nav-li>a{
        color: #31364c;
        font-size: 18px;
        line-height: 32px;
        padding: 35px 15px;
    }
    .top-nav li{
        border-bottom: 5px soilid transparent;
        padding: 35px 10px;
        font-size: 20px!important;
        line-height: 24px;
        box-sizing: border-box;
    }
    .navbar-header{
        margin-left: 10%!important;
    }
    .navbar-static-top{
         width: 100%;
        max-height: 127px;
        position: relative;
    }
    .mail-logo{
        bottom: -40px;
        right:25%;
    }
}
@media only screen and (max-width : 1540px) {
    div.navv{
        height: 90px;
    }

   .por-nav-li>a{
        color: #31364c;
        font-size: 15px;
        line-height: 24px;
        padding: 30px 10px;
    }
    .col-foot h4 {
        font-size: 20px;
        line-height: 30px;
    }
    .kont{
        font-size: 24px;
        line-height: 26px;
        margin-top:100px;
        margin-bottom: 20px;
    }
    .col-foot p{
        font-size: 11px;
        line-height: 18px;
    }
    .asd h4{
        font-size: 32px;
        line-height: 42px;
    }
    .asd h6{
        font-size: 12px;
        line-height: 20px;
    }
    .asd1 h4{
        font-size: 20px;
        line-height: 26px;
    }
    .asd1 lable h6 {
        font-size: 12px;
        line-height: 20px;
    }
    .top-nav li{
        border-bottom: 5px soilid transparent;
        padding: 25px 5px;
        font-size: 18px!important;
        line-height: 24px;
        box-sizing: border-box;
    }
    .navbar-header{
        margin-left: 5%!important;
    }
    .top_header{
        width: 100%;
        max-height: 107px;
        position: relative;
    }
    .navbar-static-top{
         width: 100%;
        max-height: 107px;
        position: relative;
    }
    .top1 p {
        font-family: "RobotoRegular"!important;
        font-size: 12px!important;
        line-height: 20px;
    }
    .top1{
        top:22px;
    }
    .mail-logo1{
        width: 60px;
        height: 60px;
    }
    .mail-logo{
        bottom: -40px;
        right: 23%;
    }
    .cl-3{
        padding: 20px 40px;
        white-space:normal;
    }
    .cl-3 img{

        max-height: 200px;
    }
    .cl-3 h4{
       
        font-size: 34px;
        line-height: 40px;
        margin: 20px auto;
    }
    .cl-3 p{
        font-size: 14px;
        line-height: 20px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {
    .logo-img{
        width: 200px;
    }
     .por-nav-li>a{
        color: #31364c;
        font-size: 14px;
        line-height: 20px;
        padding: 30px 8px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
     div.navv{
        height: 82px;
    }
    .por-nav-li>a{
        color: #31364c;
        font-size: 11px;
        line-height: 18px;
        padding: 25px 8px;
    }
    .na-slider{
        position: absolute!important;
        z-index: 21000;
        top:30%;
        left:15%;
        color: #fff;
        text-align: left;
    }
    .na-slider h2{
        font-size: 100px;
        line-height: 80px;
    }
    .na-slider h4{
        font-size: 52px;
        line-height: 72px;
    }

    .foot-img{
        float:none;
    }
    .logo-img{
        width: 150px;
    }
    .top-nav li{
        border-bottom: 5px soilid transparent;
        padding: 25px 5px;
        font-size: 14px!important;
        line-height: 18px;
        box-sizing: border-box;
    }
    .top1 p {
        font-family: "RobotoRegular"!important;
        font-size: 10px!important;
        line-height: 14px;
    }
    .wrapp {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }
    body{
        font-size: 12px;
    }
    .red-txt {
        font-family: "bauhaus";
        font-size: 22px;
        line-height: 26px;
    }
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .red-txt {
    font-family: "bauhaus";
    font-size: 18px;
    line-height: 22px;
}
    .left1{

        float: none;
        position: relative;
        width: 70%;
        display:block;
        padding: 0px;
        top: 0px;
        margin: 0px auto;
    }
    .top1,
    .bottom1{
        margin: -14px;
    }
    ul.por-nav-ul{
       
    }
    .active-li a{
        
        
        border-bottom: 7px solid transparent;
    }
   
    .sc1 h4,.sc2 h4,.sc3 h4,.sc4 h4,.sc5 h4,
    .sc6 h4,.sc7 h4,.sc7-1 h4,.sc8 h4,.sc9 h4,
    .sc10 h4{
        font-size: 24px;
        line-height: 28px;
    }
    .sc1 p,.sc2 p,.sc3 p,.sc4 p,.sc5 p,
    .sc6 p,.sc7 p,.sc7-1 p,.sc8 p,.sc9 p,
    .sc10 p{
        font-size: 10px;
        line-height: 16px;
    }


    .icon22{
        max-width: 50px;
        max-height: 50px;
    }
    .wrap-niz h3{
        font-size: 38px;
        line-height: 46px;
    }
    .na-slider2 h3{
        font-size: 38px;
        line-height: 42px;
    }
    .th h4{
        font-size: 24px;
        line-height: 26px;
    }
    .das{
        display: none;
    }
    .top1 span{
        display: none;

    }
    .top1{
        right: 50px;
    }
    .top-nav li a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .na-kl{
        width: 70%;
    }
    .kk-mi{
        width: 70%;
    }
    .img-nw-usl{
        
        width: 70%;
    }   
     .cl-3{
        padding: 20px 40px;
        white-space:normal;
    }
    .cl-3 img{
  
        max-height: 220px;
    }
    .cl-3 h4{
        font-family: 'MyriadProRegular';
        font-size: 28px;
        line-height: 40px;
        margin: 20px auto;
    }
    .cl-3 p{
        font-size: 14px;
        line-height: 20px;
    }
    .wrapp1 img {
        margin-bottom: -7px;
        width: 70%;
    }   
    .wrapp2 img {
        margin-bottom: -7px;
        width: 70%;
    } 
   
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .left11,.left12{
        margin: 0px;
        float: none;
    }
    
    .wh-op p{
        display: none;
    }
    .wh-op h4 {
        font-family: "RobotoLight";
        font-size: 28px;
        line-height: 32px;
    }
    .wh-op{
        padding: 10px;
    }
    .col-xs-6{
        padding: 0px 14px!important; 
    }

    div.navv{
        padding-top: 5px!important;
    }
    .container3{
        width: 86%;
    }
    .por-nav-li>a {
        
        font-size: 10px;
        line-height: 16px;
        padding: 5px 8px;
    }
    .active12{
        border: transparent;
    }
    .top-nav li.active12>a {
    color: #f33!important;
    }
    .na-slider12 p {
        bottom: 5px;
        left: 20px;
        color: #fff;
    }
    .na-slider12 h4 {
        
        font-size: 20px;
        line-height: 26px;
      
        margin: 10px auto auto 10px;
    }
    .col-xs-0{
        display: none;
    }
    .top1 span{
        display: inline-block;

    }
    .d-photo{
        position: relative;
        float: none;
        display: block;
        width: 40%;
        margin: 90px auto 0px auto;

    }
    .d-photo1{
        margin-top:0px!important;
    }
    .center-sdelat{
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    
    .photo{
        display: none;
    }
    .strelka{
        display: block;
        position: absolute;
        width: 20%;
        bottom: -30%;
        left:40%;
    }
    .i-photo{
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 160px;
        min-width: 160px;
    }
    .na-slider{
        position: absolute!important;
        z-index: 21000;
        top:30%;
        left:15%;
        color: #fff;
        text-align: left;
    }
    .na-slider h2{
        font-size: 70px;
        line-height: 50px;
    }
    .na-slider h4{
        font-size: 46px;
        line-height: 48px;
    }

    .navbar-toggle{
        z-index: 100;
    }
    .foot-ab p {
        font-family: "bauhaus";
        font-size: 16px;
        line-height: 22px;
        color: #fff;
    }
   .top1 {
        display: none;
    }
    .top1 p {
        margin-bottom: 5px;
        color: #fff!important;
    }
    .mail-logo {
        top: 40px;
            right: 40%;
        }
    .navbar-collapse{
         position: absolute;
        z-index: 21;
        top: -8px;
        right: 0;
        width: 100%;
    }
    .top-nav li{
        
        border-bottom: 0px soilid transparent;
        padding: 0px 5px;
        font-family: ;
        font-size: 20px;
        line-height: 24px;
        box-sizing: border-box;
        
        }
        .top-nav li a{
            color: #fff!important;
            font-family: ;
        }
        .top-nav li.active{

            border-bottom: 0px solid #f33;
        }
        .top-nav li.active>a{
            color: #f33!important;

        }
    .top-nav{
        text-align: center;
        background-color: #25292c;
        
    }

.red-logo {
    width: 150px;
    height: 130px;
    margin: 0 auto;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .wh-op button {
        font-size: 10px;
        line-height: 24px;
        bottom: 25px;
        right: 20px;
        padding: 5px 15px;
 
    }
    .podrobno{
        width: 180px;
        height: 45px;
        font-size: 14px;
    }
    div.navv {
        height: 90px;
    }
    .podrobno:hover{
    width: 185px;
    height: 45px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}